# Python Virtual Environment
venv/

# Python Cache
__pycache__/
*.py[cod]

# Environment Variables
.env
*.env
!.env.example

backend/.env
backend/.env.oracle
backend/.env.postgres

# VS Code
.vscode/

# Logs
*.log

# macOS / Windows
.DS_Store
Thumbs.db

# Node
node_modules/
dist/